[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"
pillow = "*"
matplotlib = "*"
opencv-python = "*"
azure-cognitiveservices-vision-face = "==0.4.1"
azure-cognitiveservices-vision-computervision = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
